*.obj
*.log
*.exe
*.ilk
*.pdb
*.tlog
*.idb
*.filters
*.vcxproj
*.suo
*.sln
*.sdf
*.opensdf
Debug/dumps/response.aut
Debug/dumps/response.cha
*.off
*.req
*.rsp
*.user
*.o
WDSServer
ReadMe.txt
*.cpp
stdafx.h
targetver.h