/.cproject
/.project
/Nics.txt
/Settings.txt
/WDS_TFTP.c
/WDS_TFTP.h
/nbproject/configurations.xml
/nbproject/private/CodeAssistancePathMapper.properties
/nbproject/private/Default.properties
/nbproject/private/configurations.xml
/nbproject/private/launcher.properties
/nbproject/private/private.xml
/nbproject/project.xml
*.obj
*.log
*.exe
*.ilk
*.pdb
*.tlog
*.idb
*.filters
*.vcxproj
*.suo
*.sln
*.sdf
*.opensdf
Debug/dumps/response.aut
Debug/dumps/response.cha
*.off
*.req
*.rsp
*.user
*.o
WDSServer
ReadMe.txt
*.cpp
stdafx.h
targetver.h
*.db
wdsnbp.0